body {
    background-image: url('../images/bg_image.png'); 
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 1.3rem;
}

.navbar {
    background-color: rgba(0, 122, 204, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.3rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left img {
    max-width: 2.2rem;
    margin-right: 1rem;
}

.navbar-left span {
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
}

.navbar-right a {
    color: #fff;
    text-decoration: none;
    margin-right: 1.3rem;
    font-weight: bold;
}

main {
    padding: 1.3rem;
}

section {
    margin-bottom: 1rem;
    background-color: #ffffffa4;
    padding: 3rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #089406;
    margin-bottom: 1.3rem;
}

.video-container iframe {
    width: 100%; 
    height: auto; 
}

.gallery-item {
    position: relative;
}

.gallery-item span {
    font-weight: bolder;
    margin-bottom: 1rem;
    color: rgb(0, 122, 204);
}

.gallery-item a {
    background-color: #f4dc28;
    color: #fff;
    font-weight: bolder;
    margin-top: 1rem;
    padding: 1rem 1.3rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    bottom: 0%;
}

.gallery-item a:hover {
    background-color: #37a21f;
}

footer {
    text-align: center;
    background-color: rgba(0, 122, 204, 0.9);
    color: #fff;
    padding: 1rem 0;
}

/* Tablet Media Queries */
@media screen and (min-width: 768px) {
    nav a {
        font-size: 1.3rem;
    }

    #intro .intro-content {
        display: flex;
        flex-direction: row;
    }

    #intro .intro-text {
        flex: 1;
        text-align: justify;
        margin: 6rem 4rem 4rem;
    }

    #intro .intro-video {
        flex: 1;
        text-align: left;
        margin-left: 1.3rem;
    }
}

/* Desktop/Laptop Media Queries */
@media screen and (min-width: 1024px) {
    header {
        padding: 2.9rem;
    }

    nav {
        padding: 1.3rem 2.9rem;
    }

    #video h2,
    #video .video-container {
        text-align: center;
    }

    #video h2 {
        font-size: 2rem;
    }

    #video .video-container {
        max-width: 800px;
        margin: 0 auto;
    }

    #links {
        text-align: center;
    }

    #links h2 {
        font-size: 1.8rem;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1.3rem;
        text-align: center;
    }

    .gallery-item {
        background-color: #fff;
        padding: 1.3rem;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gallery-item img {
        max-width: 100%;
        height: auto;
    }

}